.search-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 300px;
}

.search-title {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.search-input {
  border-radius: 8px;
  outline: none;
  padding: 10px;
  border: 2px solid orangered;
  font-size: 14px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.search-input:focus {
  border-color: #ff4500;
  box-shadow: 0px 3px 8px rgba(255, 69, 0, 0.3);
}
